.validate {
    font-family: vazir;
    text-align: center;
    font-size: 11pt;
    color: white;
    background: red;
    direction: rtl;
    width: 91.5%;
    border: 1px solid #ad73bf;
    border-radius: 4px;
    margin: auto;
    overflow: hidden;
    margin-bottom: 40px;
}

.title {
    background: #7dc745;
    width: 567px;
    height: 77px;
    font-size: 42pt;
    text-align: center;
    line-height: 70px;
    margin-top: 0;
    margin-bottom: 0;
}

section {
    margin: 0px 383px;
    background: #eee;
    width: 567px;
}

.st {
    margin: 27px 0px 0px 139px;
}

.input {
    width: 310px;
    height: 40px;
    cursor: pointer;
    direction: rtl;
    font-family: vazir;
}

.img_input {
    width: 310px;
    height: 40px;
    cursor: pointer;
    margin-left: 212px;
}

.text {
    width: 310px;
    height: 200px;
    direction: rtl;
    font-family: vazir;
}

span {
    background-color: darkgreen;
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 45px;
    margin: 40px auto;
    display: block;
}

.bottom {
    margin-bottom: 10px;
}

ul {
    margin-top: 40px;
}

ul li {
    list-style: none;
    font-size: 13pt;
    text-align: center;
    line-height: 46px;
}

ul li:first-child {
    width: 200px;
    height: 50px;
    margin: auto;
    background: #528c27;
}

ul li:not(:first-child) {
    width: 200px;
    height: 50px;
    float: right;
    margin-right: 107px;
    margin-bottom: 20px;
    background: #228622;
}

ul li a {
    text-decoration: none;
    color: white;
}
